body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.weeks-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  max-width: 100%;
}

.week {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  width: 100%;
  max-width: 600px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.week h3 {
  margin-bottom: 10px;
  font-size: 1.2em;
  font-weight: 600;
  color: #333;
}
.book-buttons-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.book-buttons-container .btn {
  flex: 1;
  margin: 0 5px;
}

#employeeNames {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-top: 16px;
}

.employee-name {
  background-color: #4CAF50;
  color: white;
  padding: 8px 16px;
  border-radius: 4px;
  font-size: 1rem;
}

.day {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fafafa;
  border: 1px solid #ddd;
  padding: 10px;
  margin: 5px;
  flex: 1;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  transition: all 0.3s;
}

.day:hover {
  background-color: #f0f0f0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.disabled-date {
  color: #ccc;
  pointer-events: none;
}

.modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  position: relative;
  top: 50px;
  width: 600px;
  background-color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 5px;
  margin: 0 auto;
}

.close {
  cursor: pointer;
  float: right;
}
