.sidebar {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #222;
    padding-top: 20px;
}

.sidebar a {
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
    padding: 10px;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.sidebar-collapsed {
    width: 70px;
}

.sidebar-collapsed .icon {
    font-size: 30px;
    margin-right: 0;
}

.sidebar-collapsed a {
    justify-content: center;
}

.sidebar-collapsed a span {
    display: none;
}

.hamburger {
    display: inline-block;
    position: fixed;
    top: 10px;
    left: 220px; /* Position the hamburger next to the sidebar */
    z-index: 1000;
    font-size: 30px;
    cursor: pointer;
}


.logo {
    display: block;
    margin: 0 auto;
    width: 70px;
    padding: 10px;
    text-align: center;
    margin-bottom: 50px;
}

.logo-large {
    display: block;
    margin: 0 auto;
    width: 200px;
    padding: 10px;
    text-align: center;
    margin-bottom: 50px;
}

.icon {
    margin-right: 10px;
}

.sidebar-bottom {
    position: absolute;
    bottom: 20px;
    width: 100%;
    padding-left: 16px;
}

.sidebar-collapsed .sidebar-bottom {
    padding-left: 0px;
}

.sign-btn {
    color: #818181;
    text-decoration: none;
    font-size: 18px;
    display: inline-block;
}

body {
    font-family: "Roboto", sans-serif;
}

.content {
    margin-left: 220px; 
    padding: 20px;
    display:flex;
    transition: margin-left 0.1s ease-in-out;
}

.sidebar-collapsed ~ .content {
    margin-left: 70px; /* Same width as the collapsed sidebar */
}

.sign-btn {
    color: #818181;
    text-decoration: none;
    font-size: 18px;
    display: inline-block;
    position: absolute;
    bottom: 20px;
  }

/* Mobile view */
@media (max-width: 768px) {
    .sidebar {
        position: static;
        top: 0;
        left: 0;
        height: 70px;
        width: 100%;
    }

    .sidebar a {
        display: inline-block;
        padding: 0 15px;
        height: 60px;
        line-height: 60px;
        text-align: center;
    }
    .sign-btn {
        position: relative;
        bottom: auto;
        left: auto;
        display: inline-block;
        margin-left: 15px;
        margin-right: 15px;
      }
    .sidebar .logo {
        display: none;
    }

    .sidebar-bottom {
        position: relative;
        bottom: auto;
        width: auto;
        padding-left: 0;
    }

    .content {
        margin-left: -10px !important;
        margin-top: -10px !important;
        text-align: left !important;
        padding: 20px !important;
      }
    .hamburger {
        top: 15px;
        left: 15px;
        z-index: 1001; /* Make the hamburger icon clickable */
    }


}

